.users {
  row-gap: 24px;
  padding: 29px 34px 45px;

  .sort {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;

    &::after {
      display: block;
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./icons/arrow.icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.4s;
    }

    &_desc {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .edit-icon {
    background-image: url("./icons/edit.icon.svg.svg");
  }

  .delete-icon {
    background-image: url("./icons/delete.icon.svg");
  }
}
