.table {
  .thead {
    tr {
      th {
        &:first-child {
          border-radius: 8px 0 0 8px;
        }

        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }

  tr {
    display: flex;
  }

  th,
  td {
    flex: 1;
    padding: 14px 20px;
    text-align: center;
    overflow-wrap: anywhere;
  }

  .btn-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .btn-icon {
    display: block;
    height: 18px;
    width: 18px;
  }

  .no-data {
    padding: 20px 0;
    text-align: center;
    text-transform: capitalize;
  }
}
