.transactions {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;

    .close-btn {
      display: block;
      height: 24px;
      width: 24px;
      background-image: url("./icons/close.icon.svg");

      &:hover{
        transform: rotate(180deg);
      }
    }
  }

  .tr-heading {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .chart-title {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 12px auto 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;

    &::before {
      display: block;
      content: "";
      height: 12px;
      width: 12px;
      background-color: #1c64f2;
    }
  }

  .table-heading {
    margin-bottom: 20px;
  }

  .tr-table {
    width: 100%;

    tr{
      align-items: center;
    }

    th {
      padding: 14px 0;
    }

    td {
      padding: 20px 23px;
    }
  }

  .write-off {
    color: #fe4242;
  }

  .replenish {
    color: #1abb34;
  }
}
